.inputs-material{
  margin-top: 20px;
  margin-left: 10px;
}
.d-material{
  color: red;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 22px;
  border-style: dashed;
}

.p-material{
  color: rgb(17, 176, 94);
  margin: 10px;
}
